<h1 class="bg-primary text-white text-center">Cricket Teams</h1>

<div class="container">
    <div class="row mb-4">
        <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="search by team name"
           [(ngModel)]="searchByValue" >
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Name</th>
                        <th>Country</th>
                        <th>Role</th>
                        <th>Age</th>
                        <th>MatchesPlayed</th>
                        <th>TotalRuns</th>
                        <th>TotalWickets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let player of playersArray | filterPlayers : searchByValue; index as i">
                        <td>{{i+1}}</td>
                        <td>{{player.name}}</td>
                        <td>{{player.country}}</td>
                        <td>{{player.role}}</td>
                        <td>{{player.age}}</td>
                        <td>{{player.matchesPlayed}}</td>
                        <td>{{player.totalRuns}}</td>
                        <td>{{player.totalWickets}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





